* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-size: 18px;
}

html {
    --bg-color: #FFE9C8;
    --font-color: #000000;
    --color-white: #FFFFFF;
    --color-light-grey: #EFEFEF;
    --color-grey: #E2E2E2;
}

body {
    height: 100vh;
    min-width: 860px;
    max-width: 2200px;
    margin: 0 auto;
    background-color: var(--bg-color);
}

h1 {
    font-size: 48px;
    font-weight: 400;
}

h2 {
    font-size: 32px;
    font-weight: 400;
}

h5 {
    font-size: 24px;
    font-weight: 400;
}

h6 {
    font-size: 20px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: var(--font-color);
}