* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-size: 18px;
}

body {
    height: 100vh;
    min-width: 700px;
    max-width: 2200px;
    margin: 0 auto;
    background-color: #FFE9C8;
}

h1 {
    font-weight: 400;
    font-size: 48px;
}