* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-size: 18px;
}

html {
    --bg-color: #FFE9C8;
    --font-color: #000000;
}

body {
    height: 100vh;
    min-width: 700px;
    max-width: 2200px;
    margin: 0 auto;
    background-color: var(--bg-color);
}

h1 {
    font-weight: 400;
    font-size: 48px;
}

a {
    text-decoration: none;
    color: var(--font-color);
}